{% comment %}
  Reset password template
{% endcomment %}

<div class="customer reset-password">
  <h1 class="reset-password__title">{{ 'customer.reset_password.title' | t }}</h1>
  <p class="reset-password__subtitle">{{ 'customer.reset_password.subtext' | t }}</p>

  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <div class="reset-password__field">
      <label for="ResetPassword" class="reset-password__label">
        {{ 'customer.reset_password.password' | t }}
      </label>
      <input type="password"
             name="customer[password]"
             id="ResetPassword"
             class="reset-password__input"
             autocomplete="new-password"
             placeholder="{{ 'customer.reset_password.password' | t }}">
    </div>

    <div class="reset-password__field">
      <label for="PasswordConfirmation" class="reset-password__label">
        {{ 'customer.reset_password.password_confirm' | t }}
      </label>
      <input type="password"
             name="customer[password_confirmation]"
             id="PasswordConfirmation"
             class="reset-password__input"
             autocomplete="new-password"
             placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
    </div>

    <button type="submit" class="reset-password__submit button button--primary">
      {{ 'customer.reset_password.submit' | t }}
    </button>
  {% endform %}
</div>
