{% comment %}
  Password template
{% endcomment %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  <title>{{ shop.name }}</title>

  {{ content_for_header }}

  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>

<body class="template-password">
  <div class="password-page">
    <header class="password-page__header">
      <h1 class="password-page__shop-name">{{ shop.name }}</h1>
    </header>

    <main class="password-page__main">
      <h2 class="password-page__message">{{ 'general.password_page.opening_soon' | t }}</h2>
      
      {% form 'storefront_password', class: 'password-form' %}
        {{ form.errors | default_errors }}
        
        <div class="password-form__field">
          <label for="password" class="password-form__label">
            {{ 'general.password_page.login_form_password_label' | t }}
          </label>
          <input type="password"
                 name="password"
                 id="password"
                 class="password-form__input"
                 placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                 autofocus>
        </div>
        
        <button type="submit" class="password-form__submit button button--primary">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
      {% endform %}

      <p class="password-page__admin-link">
        {{ 'general.password_page.admin_link_html' | t }}
      </p>
    </main>
  </div>
</body>
</html>
